@model MvcOnlineTicariOtomasyon.Models.Siniflar.SatisHareket


<ul class="ml-2 mb-0 fa-ul text-muted">
    <p class="text-muted text-sm"><b>Toplam Ciro: </b> @ViewBag.tutar </p>
    <p class="text-muted text-sm"><b>Satış Adet: </b> @ViewBag.adet  </p>
    <p class="text-muted text-sm"><b>Ürün Satış Adet: </b> @ViewBag.ürünadet </p>

</ul>
